.tooltip::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  @apply border-t-gray-200 border-r-transparent border-b-transparent border-l-transparent;
}
